HF_TOKEN=hf_token_here
UI_HOST=https://roleplay-ai.bjoern-buettner.me
ALLOWED_LOG_TYPES=debug,info,warning,error
PRIVATE_KEY_PEM="-----BEGIN PRIVATE KEY-----
MIIJQQIBADANBgkqhkiG9w0BAQEFAASCCSswggknAgEAAoICAQCBJQ4fNPG+exbQ
k7gOHfbYHIFU/UtTBPuGOnms//pJdBWQzpPo4wRpSuIZRDhKzhD0wqqmFhzpPi+P
BMLHyZr/PBz39QbByt/QIzJDxnReJAoJjnq6OsGjHv7wn73gv3yebk5T9q4kGRNe
gUodGtjEOGymyVGF4njWmyjtSyUEjyj5iPa8hwr0LUHseragc1pkxNmAPtsostgl
690YaRD9PyZ71nOa4hbl1bXd8eMy6S/Ql54ppiXurVRf4quj8XHBTzrTqfiHXG6z
OWEfZOzLxEMhomuCHyaMha5FOJhVf3C0wwX7b0krtTxX+K0A2XEUW4aCutB0gCDh
OdJ4Z8YkeDpDAC6XNYEBYLeHw+V4GIX7nL1GbnTsICsmqegpMdI4ji0zwWEqZvDG
L1urlkhRzznjaSPJtAyEynLx3CUVcFV2tYcOO6KyViF7u4wdeeV2gQPpPCVfjX5N
wsyOgUxXZDbvy4jn43FLEnUh7jT4Z24bv8DvSH752E437I3mR9iXgtONCuNQnzDr
243RbqHSa/uQhKZflbtdxHbk6RXo99/nBDTTTuXXOA1Dtinw94tjtzQfAeLWl7jp
c8sp4NUSpE6YNQzIS3PdPhsEJ3BXxS6cdm/vfwe9vV5x7LMEITW6jrEkDb/seb3p
Sl20pNCbvRqMkDUSXTHr9crgOaNT6wIDAQABAoICAA8LlRiXn240gtTr0K58WSyW
LY8ML0FNvEvH9jLsY2k5R+Xl2x9viy0FF1AgPXqhhSIup5jPzLBzmTDNOi/yUcdY
ZnuQpSfgjbB+2TVCIn5xLmYsnimh/LsXOlYoFgPf6xG+AgwQGfuEnFgPMeYwIX7C
oA3SOFgjqTY/P0Zd0cM1Nm3TwgL2rJUDzMFTDoGkzqwcrsYdDIUySLIqR0i3vM30
FHSq6C7sFgTSn+xqaLCer/5aG4f4nkSvFrxQ+PQRhdIie9T64URLxW3FyoXQyTF3
/OYnOOUg4enPDR1tWXnkbenxKno/XcPkylHpW6ZUrrLTctk6EFzyLGJwzQ9P76pX
aiIiPOiPSoVJVQeYcffPMSygTtR2NLNDY/MfCFl4ODqFUreHZk9KYvHxzASwNyek
cElkpkNkQGMs6q7GokvezgqeNZjYrKyUfhhehMmLdJqII3WejSU5Dz0eYC/IJ3Fd
xai3kd2HInL8o22pIdLb73H8XHb9Q6m/QGRiAt5Ip3p7mcnTnRr2+U21mZ3Y0qkB
1U8SFETgxZmoGeX6aRm84w4DJaftGAlkezvLYbicJsvWFumiXEiYG6f3nsnPulcI
q1+Z4Vzq8SxVjbePUgzqi1Vd5EedpHPoNlRBvO8HpJTQFy8DtbQPUoHoDeqPhwQF
CV35ngvjfwRVqiKKd90pAoIBAQDJ5pGv23W/jm7dHJ3HFOTMCpUvnrKUUz0B/NZx
mARM2R17ywS7bEjASkkEGHz6atUJ5IRgAobAYcRzdynHC8o8ziCk6jOkVa0o82C+
o0gB0Vhyali6h44QWmETWlX6xQNz0BE3f1O2sotzlmlOiOoFmfWPRmQLSGfGAGxW
PVXK7wo2YFdTZUmVcugvv7/lRpsUxz05erw6FS0HCXfB6A0hm3IUCCAFMTR1QeZt
wxDCI8JTJHMxG6m0E6s5CsvqHmmSdzBh63vebBtTEIbckcNMxJj8yp8xMxSDH+oh
Mr7CgqOU+Xct8Qj1ox/vwPujAryTUEvlQ4QlKAXfpfrlV2xFAoIBAQCjv8Y5UmZb
lyaWK4fL4DmrEfR5z9t4dC9mXQln17AxD/LAIID3V84DQHJY9vxwwEmmykuXLHWH
8XOL3WFeulIJuE8dpgoGzbL0sXrUO4y8GwZkxZBOBaJWzOAOukVjt5flkiPX2UJU
HB/7dyM6zFh9tx1x0CrRBi/MbFHTswgSOn0AIItny1PrUlxcVBJ17PE/L7wpbZe4
x2dv41CCG/t9Ud9BIG0NJuwsfitnQ/i5ITfgXVXemFXzOntPv9DriwM7IvBqpwWq
9PAhoDI3zdc1UAftVd1VPQ3twT9VtFm8mJX/USvSVrEv29frqwTv6dnL9fEI9d0p
00A5q4LVAPpvAoIBACGHA1xjojsMKQbY0K6VnqTvgPSmcttEs1XYKbg1WUl1qHq9
LOz+v1oHO/bNJjvjb7sz0nOrF7tswNW3zR07rPrJ9AvOxIKeo6GwQLmHndaHcBuX
42IeTo4SpBo1nx+Ehd0+iQ1hPIKTRasNKDGddNc3SNrhAo4JGQp9WYA8sTmA1n5P
I1E6+awyp7H+MpydS/V4XIdmBUnT6GVJwjRWF5AkIx6GduLF2AM8zUoe4XKLw6JQ
5DwcbuLzfTR8wX4ATOHAny0zkJ9P7n2tued44SinYQxhjWv7IoXfz95xcdIVJZsA
jjT32NgJna0Pq/nW43/HDsNkodYVvlv0USSyjs0CggEATpXOr9vXu8UCg7dIaJOn
mW34gi07CsfXp6ymwutEZ4db3NC8k/fTqsPXHNMLu6DMt/sF4/s2PJOn/Eu2WxvY
G0oUzgnNbg5x//TdGdWqaOwfWWVnJ8qUakvQi8DhZEXL5CUKhqCBsJP+1VQL2EAR
h+PFgcWBhucNMXIaoxqcmQLw0orL3Hg8Qgc4xCak5WtdLBHgn5E06zzna08QaCC9
xRrxpfPF4jX3yjKS6fA5Ab/rbQXeHAHH3f8HBvLrdN82Ib9W2hhmI/GA/OJAt39V
9QP/ietXWXz/nkbL+nmfR1+DPRDbkwp/5pP/P97Hc8wq9jOGBeLYzSXRANxK4aai
iQKCAQBhCDkULTH83vloDTta//y72IF18HvJT8T3MldJTHygFAOdWsQzgiRL2y8w
Y3H3TqvCLkOTB7lRvgnIWEnRjz9gG4SotzRZSPHtpgafQX+TntEod7/d+TRlYXz3
yfDeAT0LA/FzC4XZLSipXHvQzHdFfO3Kgbdlp61+yA4kg70mTRyB13aPsS52n6qF
NzXWRVgnoyz0dfuHbvoqfBbeqI4RPKSNdcugHxYTOvfP/QhpF4BBJ6Z1JiO5817C
7Xn75+Qcf79K3FqKl/6jALbPUpyaT9mzeiYlQ8dPJKYJIk+9TtKUZ6kxppYoCJ8K
rJ55VDtw2VKWcrgcVzrMaYZBlxXR
-----END PRIVATE KEY-----"
PUBLIC_KEY_PEM="-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAgSUOHzTxvnsW0JO4Dh32
2ByBVP1LUwT7hjp5rP/6SXQVkM6T6OMEaUriGUQ4Ss4Q9MKqphYc6T4vjwTCx8ma
/zwc9/UGwcrf0CMyQ8Z0XiQKCY56ujrBox7+8J+94L98nm5OU/auJBkTXoFKHRrY
xDhspslRheJ41pso7UslBI8o+Yj2vIcK9C1B7Hq2oHNaZMTZgD7bKLLYJevdGGkQ
/T8me9ZzmuIW5dW13fHjMukv0JeeKaYl7q1UX+Kro/FxwU8606n4h1xuszlhH2Ts
y8RDIaJrgh8mjIWuRTiYVX9wtMMF+29JK7U8V/itANlxFFuGgrrQdIAg4TnSeGfG
JHg6QwAulzWBAWC3h8PleBiF+5y9Rm507CArJqnoKTHSOI4tM8FhKmbwxi9bq5ZI
Uc8542kjybQMhMpy8dwlFXBVdrWHDjuislYhe7uMHXnldoED6TwlX41+TcLMjoFM
V2Q278uI5+NxSxJ1Ie40+GduG7/A70h++dhON+yN5kfYl4LTjQrjUJ8w69uN0W6h
0mv7kISmX5W7XcR25OkV6Pff5wQ0007l1zgNQ7Yp8PeLY7c0HwHi1pe46XPLKeDV
EqROmDUMyEtz3T4bBCdwV8UunHZv738Hvb1eceyzBCE1uo6xJA2/7Hm96UpdtKTQ
m70ajJA1El0x6/XK4DmjU+sCAwEAAQ==
-----END PUBLIC KEY-----"
ENABLE_MESSAGE_LIMITS=false
# REMOTE LLM (beam)
BEAM_API_KEY=beam_token_here
BEAM_STORYSUMMARISER_DEPLOYMENT_URL=https://example.app.beam.cloud/
BEAM_GAMEMASTER_DEPLOYMENT_URL=https://example.app.beam.cloud/
BEAM_CHARACTERBUILDER_DEPLOYMENT_URL=https://example.app.beam.cloud/
# CHOOSE LLM
LLM_TO_USE=local
