HF_TOKEN=hf_token_here
UI_HOST=https://roleplay-ai.bjoern-buettner.me
ALLOWED_LOG_TYPES=debug,info,warning,error
# LOCAL LLM (local)
LLM_MODEL=TheBloke/OpenHermes-2.5-Mistral-7B-GGUF:Q4_K_M
# REMOTE LLM (beam)
BEAM_API_KEY=beam_token_here
BEAM_STORYSUMMARISER_DEPLOYMENT_URL=https://example.app.beam.cloud/
BEAM_GAMEMASTER_DEPLOYMENT_URL=https://example.app.beam.cloud/
BEAM_CHARACTERBUILDER_DEPLOYMENT_URL=https://example.app.beam.cloud/
# CHOOSE LLM
LLM_TO_USE=local
