* {
  box-sizing: border-box;
}
:root {
  --main-color: #ddd;
  --main-bg: #111;
  --main-shadow: #333;
  --main-striking: #eee;
  --light-shadow: rgba(255,255,255,0.05);
  --bar-background-color: rgb(0, 75, 0);
  --medium-shadow: rgba(255,255,255,0.1);
  --header-color: rgb(200, 238, 200);
  --overlay-z-index: 111111;
  --modal-z-index: 111112;
}
:root.inverted-colors {
  --main-color: #333;
  --main-bg: #ddd;
  --main-shadow: #bbb;
  --main-striking: #111;
  --light-shadow: rgba(0,0,0,0.05);
  --bar-background-color: rgb(100, 138, 100);
  --medium-shadow: rgba(0,0,0,0.1);
  --header-color: rgb(0, 75, 0);
}
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin:0;
  color: var(--main-color);
  background: var(--main-bg);
  font-size: 16px;
  line-height: 1.5;
}
body {
  padding: 0;
  grid-template-rows: 2em 6em calc((100% - 9.5em)) 1.5em;
  display: grid;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)),
  linear-gradient(to right, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));

  > * {
    padding: 0 5%;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}
.content {
  padding: 0.5em 5%;
  display: grid;
  grid-template-columns: 7fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}
a, a:visited, a:active, a:hover, a:focus {
  color: var(--main-color);
  text-decoration: underline;
}
#playername {
  cursor: pointer;
}
nav {
  text-align: center;
}
#chat, article {
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 0.2em;
  overflow-y: auto;
}
footer {
  text-align: center;
  color: var(--main-shadow);
}
footer > a, footer > a:visited, footer > a:active, footer > a:hover, footer > a:focus {
  color: var(--main-shadow);
}
#footer {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 7fr 2fr;
}
ul {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0.5em 1em;
  display: block;
}
article li {
  list-style: circle;
  display: list-item;
}
li.user, li.agent {
  border-radius: 0.5em;
  border: 1px solid var(--main-shadow);
  box-shadow: 2px 2px 5px var(--main-shadow);
  margin: 5px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.01),rgba(255,255,255,0.025), rgba(0,0,0,0.01)),
    linear-gradient(to right, rgba(255,255,255,0.01),rgba(255,255,255,0.025), rgba(0,0,0,0.01))
}
li.user {
  background-color: rgba(200, 250, 200, 0.03125);
}
li.agent {
  background-color: rgba(0, 50, 0, 0.03125);
}
textarea {
  resize: none;
}
#character, #document {
  display: block;
  position: absolute;
  z-index: var(--overlay-z-index);
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  padding: 2em;
  overflow-x: auto;
  box-shadow: var(--main-shadow) 0 0 0.125em;
}
.gamemaster {
  background-image: url('/logo.light.svg');
  background-size: 100% 100%;
  width: 1em;
  height: 1em;
  display: inline-block;
}
#logo {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
.button, .button:active, .button:visited, button, button:active, button:visited {
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--main-bg);
  border-radius: 0.25em;
  padding: 0.35em;
  border: 1px solid var(--main-color);
  box-shadow: inset 2px 2px 5px rgba(255,255,255,0.2);
  margin: 1px;
  text-decoration: none;
  display: inline-block;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.005), rgba(255,255,255,0.015), rgba(255,255,255,0)),
    linear-gradient(to right, rgba(255,255,255,0.005), rgba(255,255,255,0.015), rgba(255,255,255,00));
}
.button.call-to-action, .button.call-to-action:active, .button.call-to-action:visited, button.call-to-action, button.call-to-action:active, button.call-to-action:visited {
  background-color: var(--bar-background-color);
  color: var(--main-striking);
  border-color: var(--bar-background-color);
}
.button:hover, button:hover, .button:focus, button:focus {
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2);
}
input, textarea {
  border-radius: 3px;
  padding: 3px;
  color: var(--main-striking);
  background: var(--main-bg);
  width: 100%;
}
#chat, #footer, .aside {
  box-shadow: 1em 1em 1em var(--light-shadow);
  border: 1px solid var(--medium-shadow);
  margin: 1em;
  padding: 0;
  border-radius: 0.25em;
}
#loader {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--medium-shadow);

  > img {
    display: block;
    margin-top: calc(50vH - 64px);
    margin-left: calc(50vW - 64px);
  }
}
a[target="_blank"] {
  padding-right:1em;
  background-image:url('/external-link.light.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: right;
}
.inverted-colors {
  .gamemaster {
    background-image: url('/logo.dark.svg');
  }

  a[target="_blank"] {
    background-image: url('/external-link.dark.svg')
  }
}
nav > ul {
  display: flex;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  tr {
    border-bottom: 1px solid var(--light-shadow);
  }
}
#prompt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: calc(50vh - 50px) calc(50vw - 300px);
  background: var(--main-shadow);
  color: var(--main-striking);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  z-index: var(--modal-z-index);

  > label, > p {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
nav, footer {
  background-color: var(--bar-background-color);
  background-image: linear-gradient(to bottom, rgba(255,255, 255, 0.05), rgba(255,255, 255, 0.1), rgba(255,255, 255, 0));
}
.skiplinks {
  display: none;
}
.chat {
  .content {
    transition-property: grid-template-rows;
    transition-duration: 1.2s;
    grid-template-rows: calc((100% - 5em) / 3) calc((100% - 5em) / 3) calc((100% - 5em) / 3) 5em;

    &.hovers-footer {
      grid-template-rows: calc((100% - 10em) / 3) calc((100% - 10em) / 3) calc((100% - 10em) / 3) 10em
    }

    &.hovers-worlds {
      grid-template-rows: calc((100% - 5em) / 2) calc((100% - 5em) / 4) calc((100% - 5em) / 4) 5em
    }

    &.hovers-characters {
      grid-template-rows: calc((100% - 5em) / 4) calc((100% - 5em) / 2) calc((100% - 5em) / 4) 5em
    }

    &.hovers-documents {
      grid-template-rows: calc((100% - 5em) / 4) calc((100% - 5em) / 4) calc((100% - 5em) / 2) 5em
    }
  }
}
.imprint .aside, .index .aside {
  grid-row-start: 1;
  grid-row-end: 4;
}
.button[target="_blank"] {
  padding-right: 2.05em;
  background-image: url('/external-link.dark.svg');
}
.inverted-colors .button[target="_blank"] {
  background-image: url('/external-link.light.svg');
}
@media screen and (width < 800px) {
  body {
    display: block;
    overflow-y: auto;
  }
  .content {
    display: block;
  }
  #worlds, #documents, #characters, #chat, article {
    display: none;
  }
  [data-page="0"] #worlds {
    display: block;
  }
  [data-page="1"] #chat,
  [data-page=""] #chat,
  [data-page="1"] article,
  [data-page=""] article {
    display: block;
  }
  [data-page="2"] #documents {
    display: block;
  }
  [data-page="3"] #characters {
    display: block;
  }
}
