auto-gptq~=0.7.1
torch~=2.7.1
huggingface_hub[hf-transfer]~=0.34.4
tiktoken~=0.9.0
blobfile~=3.0.0
protobuf~=6.32.1
sentencepiece~=0.2.0
optimum~=1.27.0
transformers[mistral-common]~=4.54.1
bitsandbytes~=0.47.0
