.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
}

.logo {
    width: 3rem;
    height: 3rem;
    filter: var(--buttonTheme);
}

.title {
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: var(--text);
}


@media screen and (max-width: 768px) {
    .logo {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 1rem;
    }

    .menu-container {
        width: 100%;
        position: fixed;
        height: 6svh;
        background-color: transparent;
        /* box-shadow: 0px 1px 1px 2px  rgba(0, 0, 0, 0.295); */
    }

    .navigation-position{
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--text);
    }
}