.side-menu-container {
    display: grid;
    justify-content: center;

    grid-template-rows: 25% 2rem 1fr 3rem;
    height: 100vh;
    width: 10rem;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    left: -10rem;
    background-color: var(--sideMenu);
    transition: 0.7s;
}

.visible-side-menu {
    left: 0;
}

.book-marker {
    position: absolute;
    right: -32px;
    top: 11.5%;
    cursor: pointer;
    transition: 0.3s;
    height: 22px;
}

.book-marker:hover {
    height: 32px;
    right: -45px;
    top: 11.2%;
}

.new-chat-button {
    height: 2rem;
    align-self: center;
    border: none;
    background-color: transparent;
    color: var(--sideText);
    text-align: left;
    font-size: 1.2rem;
    cursor: pointer;
}

.chat-title {
    font-size: 0.7rem;
    color: var(--sideText);
}

.chat-history-outer-container {
    width: 8rem;
}

.chat-history-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.chat-item {
    list-style-type: none;
    width: 100%;
}

.chat-link {
    display: block;
    font-size: 0.8rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    border-radius: 6px;
    background-color: var(--sideMenu);
    color: var(--sideText);
    transition: 0.3s;
    text-transform: capitalize;
}

.chat-link:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    text-indent: 0.5rem;
    filter: invert(1);
    position: relative;
    z-index: 1;
    word-break: break-word;
    overflow-wrap: anywhere;
}


.config-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setting-icon {
    height: 24px;
    width: 24px;
    border: none;
    background-color: transparent;
    outline: none;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: 0.3s;
}

.setting-icon:hover {
    transform: scale(1.5);
}

.config {
    background-image: url('../../images/loader-light.png');
}

.theme-changer {
    background-image: var(--themeIcon);
}


@media screen and (max-width: 768px) {
    .side-menu-container {
        position: initial;
        height: 100%;
        width: 100vw;
        flex-shrink: 0;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    .new-chat-button {
        text-align: center;
    }

    .book-marker {
        display: none;
    }

    .chat-history-outer-container {
        width: 90vw;
    }

    .chat-link {
        white-space: normal;
        overflow: visible;
        text-overflow: unset;
        word-break: break-word;
        overflow-wrap: anywhere;
    }
}