.characters-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: solid 2px var(--borders);
    border-radius: 6px;
    padding: 0.5rem;
    gap: 0.5rem;
}


.character-icon {
    width: 2rem;
}